fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
pydantic-settings==2.6.0
numpy==2.1.1
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.4.2
python-dotenv==1.0.1
pytest==8.3.3
seaborn==0.13.2
matplotlib==3.10.0
mlflow==2.10.0
kfp==1.31.0
whylogs==0.11.1
IPython==8.17.0